{% extends "football/layout.html" %}
{% load static %}

{% block body %}
    <h2>Welcome to my webpage</h2>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Leagues</a>
        </li>
    </ul>
    <button class="btn btn-primary">Click</button>
{% endblock %}